*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $font-family_main;
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $font-family_main;
  }
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $font-family_main;
  }
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #f2f1eb;
  padding: 0 15%;

  @media only screen and (max-width: 1200px) {
    padding: 0 10%;
  }

  @media only screen and (max-width: 1024px) {
    padding: 0 5%;
  }
}

p,
a {
  color: $color_text;
  font-size: 1.6rem;
}

h1 {
  font-family: $font-family_secondary;
  font-weight: 400;
}

.copyright {
  font-size: 1.4rem;
  margin-bottom: $spacing-4;
}
