.contact {
  .hr-top {
    width: 100%;
    height: 1px;
    background-color: $color_text;
    border: none;
  }

  &_title_container {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    margin-bottom: 20rem;

    h1 {
      font-size: 20rem;
      color: $color_contact;
      display: inline-block;
    }
    hr {
      width: 30rem;
      height: 5px;
      border: none;
      background-color: $color_text;
      margin-top: -$spacing-5;
      width: 100%;
    }
  }

  &_container {
    display: flex;
    justify-content: end;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    list-style: none;
    max-width: 30rem;
    line-height: 3rem;

    li {
      text-align: start;
    }

    margin-top: calc($spacing-5 * 4);
  }
}

@media (max-width: 1280px) {
  .contact {
    padding: 2rem;
    h1 {
      font-size: 12rem;
    }

    hr {
      margin-top: 1rem;
    }
  }

  .copyright {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 2rem;

    &_title_container {
      margin-bottom: 5rem;
    }

    &_container {
      width: 100%;
      justify-content: center;
      margin-bottom: 10rem;
      .contact_list {
        margin-top: 10rem;
        max-width: none;
      }
    }

    h1 {
      font-size: 7.2rem;
    }

    hr {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 480px) {
}
